/* =========================
        ABOUT
========================= */

@media (max-width: 400px) {
    .about {
        height: 240vh;
    }

    .cards-grid {
        margin-top: 5rem;
        grid-template-columns: 1fr;
        height: 120vh;
    }
}

/* =========================
        VIRTUAL
========================= */

@media(max-width: 400px){
    .virtualTeam{
        height: 200vh;
    }

    .roadmap{
        margin-left: -4.05%;
    }

}

/* =========================
        CONTATTI
========================= */

@media (max-width: 400px) {
    .contatti {
        height: 145vh;
    }

    .email{
        width: 40%;
        margin-left: 32.5%;
    }
}