/* =========================
        HOME
========================= */
@media (max-width: 380px) {
    .home{
        height: 120vh;
    }
}


/* =========================
        ABOUT
========================= */

@media (max-width: 380px) {
    .about {
        height: 290vh;
    }

    .cards-grid{
        height: 150vh;
    }
}

/* =========================
        CONTATTI
========================= */

@media(max-width: 380px){
    .contatti{
        height: 170vh;
    }
}

/* =========================
        SPONSOR
========================= */

@media (max-width: 380px) {
    .sponsor{
        height: 80vh;
    }
}

/* =========================
        VIRTUAL
========================= */

@media (max-width: 380px) {
    .virtualTeam{
        height: 240vh;
    }
}