/* =========================
        HOME
========================= */

@media(max-width: 920px) {
    .wrap {
        margin-left: 9%;
    }

    .home svg {
        transform: rotate(10deg);
    }

    .home-route2 {
        margin-top: 100%;
    }
}

/* =========================
        ABOUT
========================= */

@media(max-width: 920px) {
    .about {
        height: 75vh;
    }

    .about h3 {
        font-size: 2rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .cards-grid {
        width: 80%;
        margin-left: 12%;
        height: 40vh;
    }

    .info-card ul li {
        font-size: 2rem;
    }
}

/* =========================
        NEWS
========================= */

@media (max-width: 920px) {
    .news-highlight {
        grid-template-columns: 1fr;
    }

    .news-article-grid {
        grid-template-columns: 1fr;
        border: none;
    }

    .news-article-card {
        margin-top: 2rem;
    }
}

/* =========================
        CONTATTI
========================= */


@media(max-width: 920px) {
    .send button {
        width: 20%;
    }

    .email {
        width: 30%;
        margin-left: 38%;
    }

    .text {
        width: 60%;
        margin-left: 22%;
    }
}

/* =========================
        VIRTUAL
========================= */

@media(max-width: 920px) {
    .virtualTeam {
        height: 100vh;
    }
}