/* =========================
        HOME
========================= */
@media(max-width:860px) {
    .home-route2 {
        margin-top: 105%;
    }

    .wrap {
        margin-left: 11%;
    }
}

/* =========================
        CONTATTI
========================= */

@media(max-width:860px) {
    .email,.text{
        width: 25%;
        margin-left: 40%;
    }

    .text{
        width: 50%;
        margin-left: 27%;
    }
}